.footer {
  border-top: 1px solid #cacad6;
  border-bottom: 1px solid #cacad6;
  margin-bottom: 44px;
  padding: 30px 0;
}
.social {
  display: flex;
  gap: 20px;
  justify-self: end;

  @include mobile {
    order: -1;
    margin-bottom: 20px;
    gap: 30px;
  }


}
.footer .nav {
  height: auto;

  @include tablet {
    display: flex;
    justify-content: space-between;

  }

  @include mobile {
    flex-direction: column;
  }

}

