:root {
  --font-family: "Helvetica", sans-serif;
  --font-family-bold: "Helvetica-bold", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/helvetica.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-bold";
  src: url("../fonts/../fonts/helvetica-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: var(--font-family, --font-family-bold, sans-serif);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #5C5C5E;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-title {
  text-transform: uppercase;
  color: #5C5C5E;
  font-weight: 400;
}

p {
  margin: 0;
}

.header {
  border-bottom: 1px solid #CACAD6;
  background: #F6F4F5;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
}
@media (max-width: 576px) {
  .nav {
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.menu-btn {
  display: none;
  width: 40px;
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu-btn span {
  width: 100%;
  height: 2px;
  background-color: black;
}
@media (max-width: 820px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}
@media (max-width: 820px) {
  .menu {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 320px;
    background-color: black;
    padding: 100px 0;
    color: #fff;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu__link {
    font-size: 24px;
    display: inline-block;
    padding: 10px 0;
  }
}
@media (max-width: 576px) {
  .menu {
    width: 100%;
  }
}

.menu.menu--active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.logo {
  -ms-grid-column-align: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket {
  position: relative;
  -ms-grid-column-align: end;
  justify-self: end;
}
.basket span {
  position: absolute;
  bottom: 0;
  right: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  font-size: 11px;
  color: #fff;
}

.top {
  min-height: calc(100vh - 81px);
  background-image: url(../img/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
@media (max-width: 576px) {
  .top {
    text-align: center;
  }
}
.top__text {
  margin-bottom: 50px;
  font-size: 13px;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 16%;
  font-size: 96px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .title {
    font-size: 60px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 48px;
  }
}

.subtitle {
  margin-bottom: 5px;
  font-size: 36px;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .subtitle {
    font-size: 20px;
  }
}

.buy-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .buy-btn {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.buy-btn__text {
  color: #F6F4F5;
  padding: 20px 110px;
  text-transform: uppercase;
}
.buy-btn__price {
  padding: 20px 105px;
  background-color: #F6F4F5;
}

.buy-text {
  padding-top: 6px;
  font-size: 13px;
}

.features {
  padding: 100px 0;
}
.features__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .features__titles {
    display: block;
  }
}
.features__title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  padding-right: 20px;
}
.features__text {
  margin: 0;
  max-width: 390px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 576px) {
  .features__text {
    font-size: 32px;
  }
}

.tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
  grid-template-columns: 300px auto;
}
@media (max-width: 992px) {
  .tabs {
    display: block;
  }
}
.tabs__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .tabs__btn {
    display: block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 420px) {
  .tabs__btn {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.tabs__btn-item {
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .tabs__btn-item {
    display: block;
  }
}
.tabs__btn-item--active {
  color: #070707;
}
.tabs__content {
  position: relative;
  min-height: 300px;
}
@media (max-width: 992px) {
  .tabs__content {
    min-height: 500px;
  }
}
.tabs__content-img {
  grid-row: 1/-1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -o-object-fit: cover;
  object-fit: cover;
}
.tabs__content-box h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}
.tabs__content-item {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 280px;
  grid-template-columns: auto 280px;
  -ms-grid-rows: auto 150px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (max-width: 992px) {
  .tabs__content-item {
    display: block;
    height: 0;
    position: relative;
  }
}
.tabs__content-item--active {
  opacity: 1;
}
@media (max-width: 992px) {
  .tabs__content-item--active {
    height: auto;
  }
}

.video {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  padding: 9px 10px;
  background-image: url(../img/content-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .video {
    width: auto;
    height: 250px;
    margin-top: 20px;
  }
}
.video span {
  color: #f6f4f5;
  font-size: 13px;
}
.video__btn {
  margin-left: 22px;
}
.video__btn span {
  display: block;
}

.game {
  margin-bottom: 100px;
}
.game__title {
  margin-bottom: 50px;
}
.game__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .game__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
@media (max-width: 576px) {
  .game__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.game__descr {
  padding-right: 10px;
}
.game__descr-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game__descr-text {
  margin-bottom: 24px;
}
.game__link {
  display: inline-block;
  width: 225px;
  text-align: center;
  border: 1px solid #BC10D8;
  padding: 16px 15px 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.game__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 10px 20px 18px;
}
.game__item-img {
  margin-bottom: 10px;
}
.game__item-title {
  margin-bottom: 10px;
  font-size: 24px;
}
.game__item-text {
  margin-bottom: 30px;
}
.game__item-link {
  margin-top: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy {
  position: relative;
  margin-bottom: 110px;
  text-align: center;
  overflow-x: hidden;
}
.buy .buy-btn {
  margin: 10px auto;
}
.buy__img {
  margin-bottom: 30px;
}
.buy__bg {
  margin: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 400px;
  line-height: 400px;
  -webkit-animation: line-text 6s linear 1s infinite;
  animation: line-text 6s linear 1s infinite;
}

@-webkit-keyframes line-text {
  from {
    -webkit-transform: translateX(115%);
    transform: translateX(115%);
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  to {
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}

@keyframes line-text {
  from {
    -webkit-transform: translateX(115%);
    transform: translateX(115%);
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  to {
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}
.equipment {
  margin-bottom: 100px;
}
.equipment__title {
  margin-bottom: 50px;
}
.equipment__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 20px;
}
@media (max-width: 576px) {
  .equipment__box {
    display: block;
  }
}
.equipment__box-img {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .equipment__box-img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (max-width: 576px) {
  .equipment__box-text {
    margin-bottom: 10px;
  }
}
.equipment__box-title {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  text-transform: uppercase;
}
.equipment__box-item--one {
  grid-row: 1/-1;
}

.promo {
  margin-bottom: 100px;
}
.promo__inner {
  position: relative;
  min-height: 500px;
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.promo__btn {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
}

.accessories {
  margin-bottom: 100px;
}
.accessories__title {
  margin-bottom: 30px;
}
.accessories__text {
  margin-bottom: 30px;
  font-size: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .accessories__text {
    font-size: 28px;
  }
}
.accessories__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 820px) {
  .accessories__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .accessories__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.accessories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.accessories__item-title {
  min-height: 67px;
  font-size: 24px;
  color: #070707;
}
.accessories__item-img {
  margin-bottom: 10px;
}
.accessories__item-text {
  margin-bottom: 34px;
  margin-top: auto;
}
.accessories__item-price {
  margin-top: auto;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 18px;
  color: #070707;
}
.accessories__item-btn {
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
  border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 6px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.contacts {
  margin-bottom: 100px;
}
.contacts__title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #070707;
  line-height: 33px;
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 820px) {
  .contacts__inner {
    display: block;
  }
}
.contacts__form {
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
}
.contacts__text {
  font-size: 13px;
}
.form {
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 820px) {
  .form {
    margin-bottom: 20px;
  }
}
.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #CACAD6;
  padding: 22px 70px 22px 10px;
}
.form_input::-webkit-input-placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #cacad6;
}
.form_input::-moz-placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #cacad6;
}
.form_input:-ms-input-placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #cacad6;
}
.form_input::-ms-input-placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #cacad6;
}
.form_input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #cacad6;
}
.form__btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 5px;
  background-color: #CACAD6;
  text-transform: uppercase;
  font-weight: 700;
  color: #5c5c5e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  border-top: 1px solid #cacad6;
  border-bottom: 1px solid #cacad6;
  margin-bottom: 44px;
  padding: 30px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-grid-column-align: end;
  justify-self: end;
}
@media (max-width: 576px) {
  .social {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 20px;
    gap: 30px;
  }
}

.footer .nav {
  height: auto;
}
@media (max-width: 1024px) {
  .footer .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .footer .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */