<section class="equipment">
  <div class="container">
    <div class="section-title equipment__title">IN THE BOX</div>
    <div class="equipment__box">
      <div class="equipment__box-item equipment__box-item--one">
        <img src="img/eq1.jpg" alt="img" class="equipment__box-img">
        <p class="equipment__box-text">VR Headset</p>
      </div>
      <div class="equipment__box-item">
        <img src="img/eq2.jpg" alt="img" class="equipment__box-img">
        <p class="equipment__box-text">Two Touch Controllers & AA Batteries</p>
      </div>
      <div class="equipment__box-item">
       <p class="equipment__box-title">What's included</p>
      </div>
      <div class="equipment__box-item">
        <img src="img/eq3.jpg" alt="img" class="equipment__box-img">
        <p class="equipment__box-text">Charging Cable & Power Adapter</p>
      </div>
      <div class="equipment__box-item">
        <img src="img/eq4.jpg" alt="img" class="equipment__box-img">
        <p class="equipment__box-text">Glasses Spacer</p>
      </div>
    </div>
  </div>
</section>
<div class="promo">
  <div class="container">
    <div class="promo__inner">
      <button class="promo__btn btn-reset">go</button>
    </div>

  </div>

</div>
