<footer class="footer">
  <div class="container">
    <nav class="nav">
      <ul class="menu list-reset">
        <li class="menu__list">
          <a href="#" class="menu__link">SHOP</a>
        </li>
        <li class="menu__list">
          <a href="#" class="menu__link">GAMES</a>
        </li>
        <li class="menu__list">
          <a href="#" class="menu__link">METAVERSE</a>
        </li>
      </ul>
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="logo">
      </a>
      <ul href="#" class="list-reset social">
        <li class="social__item">
          <a href="#" class="social__link">
          <img src="img/youtube.svg" alt="youtube">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
        <img src="img/face.svg" alt="face">
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link">
      <img src="img/vector.svg" alt="vector">
    </a>
  </li>
</ul>
    </nav>
  </div>
</footer>
