<section class="game">
  <div class="container">
<h2 class="section-title game__title">games</h2>
<div class="game__inner">
  <div class="game__descr">
    <p class="game__descr-title">
      It’s all fun and games
    </p>
    <p class="game__descr-text">
      Discover new adventures, master epic challenges
       or revisit classic moments in your favourite games and experiences
    </p>
    <a href="#" class="game__link">SEE ALL GAMES</a>
  </div>
  <div class="game__item">
    <img src="img/game-1.jpg" alt="game1">
    <h3 class="game__item-title">Blade & Sorcery: Nomad</h3>
    <p class="game__item-text">
      Step into a medieval fantasy sandbox that uses phisics to serve
      up some of the most realistic combat in VR
    </p>
    <a href="#" class="game__item-link">see more</a>
  </div>
  <div class="game__item">
    <img src="img/game2.jpg" alt="game">
    <h3 class="game__item-title">Population: One</h3>
    <p class="game__item-text">
      Climb anything. Fight everywhere. Experience battle royale only possible in VR

    </p>
    <a href="#" class="game__item-link">see more</a>
  </div>
  <div class="game__item">
    <img src="img/game3.jpg" alt="game">
    <h3 class="game__item-title">Supernatural</h3>
    <p class="game__item-text">
      Box, Flow, Meditate and Stretch with real coaches in stunning destinations from
      around the world. Enjoy new workouts every day.
    </p>
    <a href="#" class="game__item-link">see more</a>
  </div>

</div>
  </div>
</section>
<div class="buy">
  <p class="buy__bg">oculus</p>
  <img src="img/oculus.png" alt="oculus">
  <button class="btn-reset buy-btn">
    <span class="buy-btn__text">BUY NOW</span>
    <span class="buy-btn__price">399,99 USD</span>
  </button>
    <p class="buy__text">Meta Quest 2 is for ages 13+</p>

</div>
